[Desktop Entry]
Type=Application
Name=TMS Environment Variables
Exec=bash -c "source /config/slicer-with-env.sh"
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
